name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    uses: Corsinvest/.github/.github/workflows/cv4pve-cli-publish.yml@main
    with:
      project-name: cv4pve-autosnap
      project-path: src/Corsinvest.ProxmoxVE.AutoSnap/Corsinvest.ProxmoxVE.AutoSnap.csproj
      nuget-project-path: src/Corsinvest.ProxmoxVE.AutoSnap.Api/Corsinvest.ProxmoxVE.AutoSnap.Api.csproj
      winget-id: Corsinvest.cv4pve.autosnap
